<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styleConsult.css">
    <script src="static/js/appConsult.js"></script>
    <title>Document</title>
</head>
<body>
    <h1> Consult user </h1>
    <div>
        <label> Id </label> <input id="ident"> <br> <br>
        <textarea id="txt-response"> </textarea > <br> <br>
        <button onclick="consult_user()"> Consult </button>
    </div>    
</body>
</html>