<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styleRegister.css">
    <script src="static/js/appRegister.js"></script>
    <title>Web App</title>
</head>
<body>
    <h1> Register </h1>
    <form action="/register_user" method="post" enctype="multipart/form-data">
        <label> Id </label> <input type="number" name="id"> <br> <br>
        <label> Name </label> <input type="text" name="name"> <br> <br>
        <label> Lastname </label> <input type="text" name="lastname"> <br> <br>
        <label> Birthday </label>  <input type="date" name="birthday"> <br> <br>
        <input type="file" name="photo"> <br> <br>
        <button> Register </button>
    </form>
</body>
</html>